<div class="panel" [ngClass]="{
    'panel-danger': eliminated,
    'panel-success': winner,
    'panel-primary': active,
    'panel-default': !active && !eliminated && !winner
    }">
  <div class="panel-heading">
    {{player.name}}
    <span *ngIf="eliminated"> X</span>
    <span *ngIf="winner"> WINS</span>
  </div>

  <div class="panel-body">
    <app-player-actions
      [active]="active"
      [player]="player"
      [playerQueue]="playerQueue"
      (action)="playCard.emit($event)"></app-player-actions>

    <hr>

    <label>Discarded</label>
    <ul><li *ngFor="let card of player.discardPile">{{ card | cardName }}</li></ul>
  </div>
</div>
