
<div class="panel" [ngClass]="{'panel-danger': eliminated, 'panel-primary': active, 'panel-default': !active && !eliminated}">
  <div class="panel-heading">{{player.name}}<span *ngIf="eliminated"> X</span></div>

  <div class="panel-body">
    <h5>Hand</h5>
    <ul>
      <li *ngFor="let card of player.hand; let i = index">
        <span>{{ card | cardName }}</span>
        <span *ngIf="active"><button type="button" class="btn btn-sm btn-default" (click)="playCard.emit(i)">Play</button></span>
      </li>
    </ul>
    <hr>

    <h5>Discard</h5>
    <ul><li *ngFor="let card of player.discardPile">{{ card | cardName }}</li></ul>
  </div>
</div>
