<div class="panel" [ngClass]="{
    'panel-danger': eliminated,
    'panel-success': winner,
    'panel-primary': active,
    'panel-default': !active && !eliminated && !winner
    }">
  <div class="panel-heading">
    {{player.name}}
    <span *ngIf="eliminated"> X</span>
    <span *ngIf="winner"> WINS</span>
  </div>

  <div class="panel-body">
    <h5>Hand</h5>
    <app-player-actions [player]="player" [playerQueue]="playerQueue" (action)="playCard.emit($event)"></app-player-actions>
    <hr>

    <h5>Discard</h5>
    <ul><li *ngFor="let card of player.discardPile">{{ card | cardName }}</li></ul>
  </div>
</div>
