<div>
  <form (ngSubmit)="onPlay()">
    <fieldset [disabled]="!active">
      <div class="form-group">
        <label>Card</label>
        <div class="radio" *ngFor="let card of player.hand; let i = index">
          <label>
            <input type="radio" name="handCards" [value]="i" [(ngModel)]="model.cardIndex">
            {{ card | cardName }}
          </label>
        </div>
      </div>

      <div class="form-group">
        <label>Target Player</label>
        <select class="form-control" name="targetPlayer" [disabled]="!canTargetPlayers" [(ngModel)]="model.targetPlayer">
          <option *ngFor="let p of playerQueue" [value]="p">Player{{ p + 1 }}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Target Card</label>
        <select class="form-control" name="targetCard" [disabled]="!canChooseTargetCard" [(ngModel)]="model.targetCard">
          <option *ngFor="let c of targetCardOptions" [value]="c">{{ c | cardName }}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!readyToPlay">Play</button>
    </fieldset>
  </form>
</div>
