<div>
  <form (ngSubmit)="onPlay()">
    <fieldset [disabled]="!active">
      <div class="form-group">
        <label>Hand</label>
        <div class="radio" *ngFor="let card of player.hand; let i = index">
          <label>
            <input type="radio" name="handCard" [value]="i" [(ngModel)]="model.cardIndex">
            {{ card | cardName }}
          </label>
        </div>
      </div>

      <fieldset [disabled]="!canTargetPlayers">
        <div class="form-group">
          <label>Target Player</label>
          <div class="radio" *ngFor="let p of playerQueue">
            <label>
                <input type="radio" name="targetPlayer" [value]="p" [(ngModel)]="model.targetPlayer">
                Player{{ p + 1 }}
            </label>
          </div>
        </div>
      </fieldset>

      <fieldset [disabled]="!canChooseTargetCard">
        <div class="form-group">
          <label>Target Card</label>
          <select class="form-control" name="targetCard" [(ngModel)]="model.targetCard">
            <option *ngFor="let c of targetCardOptions" [value]="c">{{ c | cardName }}</option>
          </select>
        </div>
      </fieldset>

      <button type="submit" class="btn btn-primary" [disabled]="!readyToPlay">Play</button>
    </fieldset>
  </form>
</div>
